<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="ui container ">
        <div class="widget-container">
            <div ng-controller="MainCtrl as vm">
                <div class="ui grid header">
                    <div class="left floated middle aligned ten wide column">
                        <h1>立法會選舉數據庫 - {{vm.selectedDataType.legend}}</h1>
                        <div class="right aligned">
                            <!-- <h2></h2> -->
                        </div>
                    </div>
                    <div class="right floated right aligned five wide column">
                        <div class="ui segment">
                            <h2>{{vm.year | yearFilter}}</h2>
                        </div>
                    </div>
                </div>

                <div class="ui grid middle aligned control-panel">
                    <div class="row attached">
                        <div class="six wide column">
                            <a href="javascript:void(0)" ng-class="{'selected':vm.boundary == 'gc'}" ng-click="vm.toggleBoundary('gc')">立法會選區</a> ＞＞
                            <a href="javascript:void(0)" ng-class="{'selected':vm.boundary == 'dc'}" ng-click="vm.toggleBoundary('dc')">  18區 </a> ＞＞
                            <a href="javascript:void(0)" ng-class="{'selected':vm.boundary == 'ca'}" ng-click="vm.toggleBoundary('ca')">區議會選區 </a>
                        </div>
                        <div class="four wide column">
                            <div class="ui dropdown">
                                <div class="text">選擇資料</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" ng-repeat="i in vm.dataTypes" ng-click="vm.refresh(i)" data-value="{{i.key}}">{{i.legend}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="six wide column slider-continer">
                            <div class="">
                                <rzslider rz-slider-model="vm.year" rz-slider-options="vm.slider.options"></rzslider>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- <leaflet id="mymap" tiles="vm.tiles" lf-center="vm.center" height="600px" width="800px"></leaflet> -->
                <div class="ui pushable twelve column">
                    <div class="pusher">
                        <hk-map height="500px" class="col-md-12" geo-shapes="vm.geojson" single-select selected-areas="selection" geo-data="vm.geoData" boundary="vm.boundary"></hk-map>
                        <div ng-if="!vm.isChartOpen" class="ui bottom attached button" ng-click="vm.toggleCharts()">
                            <i class="dropdown icon"></i>數據圖表
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui bottom drawer inverted labeled icon sidebar menu push">
                <div class="">
                    <button class="ui basic inverted button" ng-click="vm.toggleCharts()">X </button>
                    <!-- {{vm.geoData | prettyJSON}} -->
                </div>

                <div class="ui container charts_drawer">
                    <div>
                        <div class="">
                            <h3>基本資料</h3> 按年齡登記選民人口
                        </div>
                        <div class="">
                            <h4>結果</h4>
                            <div id="profile-age" class="">

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="ui bottom attached footer">
            <div class="right aligned">
                <img class="ui middle aligned mini image" src="ui/images/init_logo.png" style="background-color:white;" alt="logo of Initium Lab, a black square separated by two white stripes, one horizontal and one vertical" id="labLogo"> 端Lab
            </div>
        </div>
    </div>
</body>

</html>
