.ui.buttons .button{
    /*font-weight: 100;*/
    line-height: 0.5rm;
}
.ui.buttons .button.selected {
  background-color: #2bb6c9;
  color: #FFFFFF;
}

/*fix safari issue*/
.ui.grid{
  display:-webkit-flex
}
.ui.grid>.row{
  display:-webkit-flex
}
ul.rz-ticks{
  display:-webkit-flex
}

.year-title{
  margin-bottom:0em;
}

.election-title{
  margin-top:0em;
  /*min-height:1em;*/
}


.charts_drawer{
  min-height:30vh;
  overflow-y: scroll;
}

.map-overlay.description {
  font-size: 1.5em;
  /*font-weight: bold;*/
  bottom: 2.5vh;
  left: 1em;
  padding: .2em .5em;
  line-height: 1.1em;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  white-space: nowrap;
}
.map-overlay.no-data .text{
  position: absolute;
 top: 50%; left: 50%;
 transform: translate(-50%,-50%);
}
.map-overlay.no-data {
  color: gray;
  background-color:white;
  height:100%;
  width: 100%;
  opacity: 0.7;
  top:0;
 font-size: 5em;
}

/* Mapping */
.map-overlay {
  z-index: 100;
    position: absolute;
}

.map-legend {
  position: absolute;
  right: 10px;
  margin-right: 10px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  top: 10px;
}

.map-legend ul {
  padding: 5px;
  list-style-type: none;
  margin: 0;
}

.drawer{
  color: white;
  stroke: white;
}
.angular-leaflet-map{
  max-height: 65vh;
}

.ui.visible.bottom.sidebar.push.visible ~ .pusher .angular-leaflet-map{
  /*TODO delay with animation*/
  height: 30vh !important;
  -webkit-transition: height 500ms ease;
    transition: height500ms ease;
  /*need calculate together with the actual header + pushed */
  margin-top:26rem;
}

.rzslider{
  margin-top:1em !important;
}

.rzslider .rz-pointer{
  /*margin-left: 8px;
  margin-right:8px;*/
  margin-top: 8px;
  width: 16px !important;
  height: 16px !important;
  background-color: #2bb6c9 !important;
}
.rzslider .rz-pointer:after{
  display: none;
  margin-left: -8px;
  margin-top: -8px;
}
.widget-container{
  padding: 0.5em;
  border: 1px solid black;
}

.ui.grid.header .column{
  padding-top:0em;
  padding-bottom:0em;
}

.ui.grid.control-panel{
  padding-top:0em;
  padding-bottom:0.5em;
}
/*TODO refactor*/
.ui.grid.control-panel .row{
    padding-top:0em;
}
.footer{
  color: white;
  background-color: #151719;
padding-left: 0.5em;
  max-height:15vh;
}

.drawer .close{
  position: absolute;
  z-index:999;
}

#chart-container{
  float: none !important;
  /*padding-left: 2vw;*/
/*padding-right: 2vw;*/
}
#chart-container{
  width: 80%;
  margin:auto;
}

.dc-chart text{
    font-weight: 100 !important;
    font-size: 0.8rem !important;
}


.button.chart-button{
  font-weight: 100;
  color: white;
  background-color: #2bb6c9;
}

.button.chart-button:hover{
  background-color: #1c8796;
    color: white;
}
