<div ng-cloak>
    <div class="ui grid header">
        <div class="left floated middle aligned ten wide column">
            <h1>香港立法會選舉數據庫 </h1>
            <div class="ui dropdown">
                <div class="text">{{vm.selectedDataType.legend}}</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" ng-repeat="i in vm.dataTypesConfig" ng-click="vm.selectDataType(i)" data-value="{{i.key}}">{{i.legend}}</div>
                </div>
            </div>
            <div class="right aligned">
                <!-- <h2></h2> -->
            </div>
        </div>
        <div class="right floated right aligned six wide column">
            <div class="ui segment">
                <h2 class="year-title">{{vm.year}}</h2>
                <h3 class="election-title">{{vm.year | yearElectionFilter:vm.isByE}}</h3>
            </div>
        </div>
    </div>

    <div class="ui grid middle aligned control-panel">
        <div class="row attached">
            <div class="six wide column">
                <div class="ui buttons">
                    <button class="ui button" ng-click="vm.toggleBoundary('gc')" ng-class=" { 'selected':vm.boundary=='gc' }">立法會選區</button>
                    <button class="ui button" ng-click="vm.toggleBoundary('dc')" ng-class=" { 'selected':vm.boundary=='dc' }">18區</button>
                    <!-- <button class="ui button" ng-click="vm.toggleBoundary('ca')" ng-class=" { 'selected':vm.boundary=='ca' }">區議會選區</button> -->
                </div>
            </div>
            <div class="four wide column">
            </div>
            <div class="six wide column slider-continer">
                <div class="">
                    <rzslider rz-slider-model="vm.year" rz-slider-options="vm.slider.options"></rzslider>
                </div>

            </div>
        </div>
    </div>

    <!-- <leaflet id="mymap" tiles="vm.tiles" lf-center="vm.center" height="600px" width="800px"></leaflet> -->
    <div cg-busy="{promise:vm.dataPromise,message:'載入中...'}" class="ui pushable twelve column">
        <div class="pusher">
            <hk-map height="500px" class="col-md-12" geo-shapes="vm.geoShapes" value-formatter="vm.valueFormatter" single-select selected-areas="selection" geo-data="vm.geoData" boundary="vm.boundary"></hk-map>
            <div ng-if="!vm.isChartOpen" class="ui bottom attached button chart-button" ng-click="vm.toggleCharts()">
                <i class="dropdown icon"></i>數據圖表
            </div>
        </div>
    </div>
    <div class="ui bottom drawer inverted labeled icon sidebar menu push">
        <div class="close">
            <button class="ui basic inverted button chart-button" ng-click="vm.toggleCharts()">X </button>
            <!-- {{vm.geoData | prettyJSON}} -->
        </div>

        <div class="ui grid centered container charts_drawer">
            <div class="sixteen wide centered aligned column">
                <h3 class="row">{{vm.chartTitle}} &nbsp;-&nbsp; {{ vm.selectedGeoshape }}</h3>
                <span ng-if="vm.selectedDataType.key == 'fr_dc_age_sex'">

                <div ng-if="vm.ageAvg">平均年齡（估算）&nbsp;-&nbsp; {{vm.ageAvg}}</div>
                <div  class="">
                    所選人口： <span id="selected-total"></span> &nbsp;-&nbsp; 百份比：<span id="selected-percent"></span>
            </div>
            </span>
            <div id="chart-container" class="row">
            </div>
        </div>

    </div>
</div>
<div class="ui bottom attached footer">
    <div class="right aligned">
        <a href="https://theinitium.com" target="_blank"><img class="ui middle aligned tiny image initium-logo" src="images/initium-logo.jpg" style="background-color:white;" alt="Initium" id="logo"></a>
        <a href="https://initiumlab.com" target="_blank"><img class="ui middle aligned tiny image" src="images/init_logo.png" style="background-color:white;" alt="Initium Lab" id="labLogo"></a>
    </div>


</div>
</div>
